target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
nbproject/private/
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/

classes/*
/gradle
.gradle/*
*/.gradle/*

# compiled output
ui/dist
ui/tmp
ui/out-tsc

# dependencies
ui/node_modules

# profiling files
ui/chrome-profiler-events.json
ui/speed-measure-plugin.json

# IDEs and editors
ui/.idea
ui/.project
ui/I.u//.classpath
ui/.c9/
ui/*.launch
ui/.settings/
ui/*.sublime-workspace

# IDE - VSCode
ui/.vscode/*
!ui/.vscode/settings.json
!ui/.vscode/tasks.json
!ui/.vscode/launch.json
!ui/.vscode/extensions.json

# misc
ui/.sass-cache
ui/connect.lock
ui/coverage
ui/libpeerconnection.log
ui/npm-debug.log
ui/yarn-error.log
ui/testem.log
ui/typings

# System Files
ui/.DS_Store
ui/Thumbs.db
