/* Backgrounds */
$primaryBackgroundColour: #fff;
$secondaryBackgroundColour: #eee;

/* Colour Scheme */
$primaryColour: #000;
$secondaryColour: #999;

/* Fonts */
$primaryFontColour: #ddd;
$secondaryFontColour: $secondaryColour;