<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pattern FHS</title>
</head>
<body>

<div th:replace="home :: header" class="header">
    <h1>Ignore the Extra Club</h1>
    <h2>Test header - replaced by home</h2>
</div>

<div th:class="main-menu" th:replace="home :: main-menu">
    <ul class="main-menu">
        <li th:text="#{menu.home}"><a href="/">Home</a></li>
        <li th:text="#{menu.about}"><a href="about.html" th:href="@{/about}">About</a></li>
        <li th:text="#{menu.loginreg}"><a href="login.html" th:href="@{/login}">Log In/Register</a></li>
    </ul>
    <p>Test menu - replaced by home</p>
</div>

<div class="content">
    <div class="page" th:object="${page}">
        <div class="page-title">
            <h2 class="page-title" th:text="*{pageTitle}">Holy Grail</h2>
        </div>
        <!-- TODO use created date -->
        <div class="page-subtitle" th:if="*{hasPageSubtitle()}">
            <h3 class="page-subtitle" th:text="*{pageSubtitle}">An awesome subtitle</h3>
        </div>
        <div class="page-stats" th:if="*{hasDetails()}">
            <dl th:each="detail : ${details}">
                <dt th:text="*{name}">Clubs</dt>
                <dd th:text="*{value}">7</dd>
            </dl>
        </div>
        <div class="page-body" th:text="*{body}">
            An interesting page body!
        </div>
    </div>
</div>

<div th:replace="home :: newest-sidebar"></div>

<div class="footer" th:replace="home :: footer">
    <h5>Made by Caspar Nonclercq.</h5>
    <p>Test footer - replaced by home</p>
</div>
</body>
</html>