<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<form th:action="@{/register}" th:object="${registrationRequest}" method="post">
    <div>
        <label> User Name : <input type="text" th:field="*{username}" /> </label>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Invalid username.
        </div>
    </div>

    <div>
        <label> Password: <input type="password" th:field="*{password}"/> </label>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Invalid pasword.
        </div>
    </div>

    <div>
        <label> Matching Password: <input type="password" th:field="*{matchingPassword}"/> </label>
        <div th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">
            Passwords do not match.
        </div>
    </div>

    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</body>
</html>